Python-Backend-Flask/ChatbotAI/fine_tuned_model/checkpoint-3/optimizer.pt filter=lfs diff=lfs merge=lfs -text
Python-Backend-Flask/ChatbotAI/fine_tuned_model/checkpoint-3/model.safetensors filter=lfs diff=lfs merge=lfs -text
